.main {
    position: relative;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 10vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

.canvas_pointer {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.header_name {
    display: flex;
    flex-direction: column;
}

.header_name h1 {
    font-size: clamp(3rem, 5vw + 0.9rem, 6rem);
    font-weight: 600;
}

.header_para {
    display: flex;
    width: 40%;
    padding-bottom: 25px;
}

.header_para p {
    font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
    color: #747474;
    padding-bottom: 12px;
}

@media only screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .header_para {
        margin-top: 3vw;
        width: auto;
        padding-bottom: 0px;
    }
}
