.main {
    position: relative;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 10vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5vw;
}

.canvas_pointer {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.header_name {
    display: flex;
    flex-direction: column;
}

.header_name h1 {
    font-size: clamp(3rem, 5vw + 0.9rem, 6rem);
    font-weight: 600;
}

.header_para {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-bottom: 25px;
}

.header_para p {
    font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
    color: #747474;
    padding-bottom: 5px;
}

.para {
    display: flex;
    margin-bottom: 10px;
}

.resume_project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.resume_project_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.resume_project_container h5 {
    font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
    font-weight: 500;
    padding: 4px;
}

.view_buttons {
    display: flex;
    position: relative;
    /*background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='gggrain-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='2' seed='2' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='colormatrix'%3E%3C/feColorMatrix%3E%3CfeComponentTransfer x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' result='componentTransfer'%3E%3CfeFuncR type='linear' slope='3'%3E%3C/feFuncR%3E%3CfeFuncG type='linear' slope='3'%3E%3C/feFuncG%3E%3CfeFuncB type='linear' slope='3'%3E%3C/feFuncB%3E%3C/feComponentTransfer%3E%3CfeColorMatrix x='0%25' y='0%25' width='100%25' height='100%25' in='componentTransfer' result='colormatrix2' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -10'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cfilter id='gggrain-saturate' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='saturate' values='3' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23gggrain-saturate)'%3E%3Crect width='100%25' height='100%25' fill='transparent' filter='url(%23gggrain-filter)' opacity='1' style='mix-blend-mode: soft-light'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");*/
    background-color: #f8f8f8;
    color: #747474;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 250ms ease;
    border: 1px solid #747474;
}

.view_buttons:hover {
    animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@media only screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .header_para {
        margin-top: 3vw;
        width: auto;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 330px) {
    .resume_project {
        flex-direction: column;
    }

    .resume_project_container {
        padding-left: 0;
    }
}
