.main {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 4vw;
    overflow: hidden;
}

.main_nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.main_nav a {
    color: #000000;
    text-decoration: none;
}

.underline_hover {
    display: inline-block;
    padding-bottom: 0.15rem;
    position: relative;
}

.underline_hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #000000;
    transition: width 0.25s ease-out;
}

.underline_hover:hover::before {
    width: 100%;
}

.main_nav h2 {
    font-size: clamp(1.5rem, 2vw + 0.4rem, 3rem);
    font-weight: 600;
}

.article {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}

.article_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article_title {
    display: flex;
}

.article_title h1 {
    font-size: clamp(2rem, 3vw + 0.5rem, 4rem);
    font-weight: 600;
}

.article_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

.date_role {
    display: inline-flex;
    gap: 1vw;
}

.article_info p {
    color: #747474;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin-top: 4vw;
}

.imageWrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.article_content {
    display: flex;
    flex-direction: column;
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 3rem;
}

.work_info {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.title_name {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e7eb;
    position: relative;
    padding-left: 0.75rem;
    font-size: 15px;
}

.title_name::before {
    content: "";
    top: 0;
    left: -1px;
    position: absolute;
    height: 1.75rem;
    width: 1px;
    background-color: #3f3f3f;
}

.title {
    display: flex;
    margin-bottom: 0.8vw;
}

.title p {
    color: #747474;
}

.name {
    display: flex;
}

.more_projects {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.more_projects h2 {
    font-size: clamp(1.5rem, 0.4vw + 0.2rem, 2rem);
    color: #4a5568;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.post_cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
}

.view_project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.view_project a {
    transition: all 250ms ease;
    border: 1px solid #747474;
    font-size: clamp(1rem, 0.7vw + 0.5rem, 2rem);
    letter-spacing: 2px;
    font-weight: 600;
    /*background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='gggrain-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='2' seed='2' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='colormatrix'%3E%3C/feColorMatrix%3E%3CfeComponentTransfer x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' result='componentTransfer'%3E%3CfeFuncR type='linear' slope='3'%3E%3C/feFuncR%3E%3CfeFuncG type='linear' slope='3'%3E%3C/feFuncG%3E%3CfeFuncB type='linear' slope='3'%3E%3C/feFuncB%3E%3C/feComponentTransfer%3E%3CfeColorMatrix x='0%25' y='0%25' width='100%25' height='100%25' in='componentTransfer' result='colormatrix2' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -10'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cfilter id='gggrain-saturate' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='saturate' values='3' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23gggrain-saturate)'%3E%3Crect width='100%25' height='100%25' fill='transparent' filter='url(%23gggrain-filter)' opacity='1' style='mix-blend-mode: soft-light'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");*/
    background-color: #f8f8f8;
    color: #747474;
    padding: 1rem 1.25rem;
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
}

.view_project:hover {
    animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.progress_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #141516;
    transform-origin: 0%;
}

@media only screen and (max-width: 1024px) {
    .post_cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    .post_cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 695px) {
    .work {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .work_info {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3vw;
    }
}
