.main {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 4vw;
    overflow: hidden;
}

.main_nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.main_nav a {
    color: #000000;
    text-decoration: none;
}

.underline_hover {
    display: inline-block;
    padding-bottom: 0.15rem;
    position: relative;
}

.underline_hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #000000;
    transition: width 0.25s ease-out;
}

.underline_hover:hover::before {
    width: 100%;
}

.main_nav h2 {
    font-size: clamp(1.5rem, 2vw + 0.4rem, 3rem);
    font-weight: 600;
}

.article {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}

.article_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article_title {
    display: flex;
}

.article_title h1 {
    font-size: clamp(2rem, 3vw + 0.5rem, 4rem);
    font-weight: 600;
}

.article_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

.date_role {
    display: inline-flex;
    gap: 1vw;
}

.article_info p {
    color: #747474;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin-top: 4vw;
}

.imageWrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.article_content {
    display: flex;
    flex-direction: column;
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 3rem;
}

.work_info {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.title_name {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e7eb;
    position: relative;
    padding-left: 0.75rem;
    font-size: 15px;
}

.title_name::before {
    content: "";
    top: 0;
    left: -1px;
    position: absolute;
    height: 1.75rem;
    width: 1px;
    background-color: #3f3f3f;
}

.title {
    display: flex;
    margin-bottom: 0.8vw;
}

.title p {
    color: #747474;
}

.name {
    display: flex;
}

.more_projects {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.more_projects h2 {
    font-size: clamp(1.5rem, 0.4vw + 0.2rem, 2rem);
    color: #4a5568;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.post_cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
}

.view_project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.view_project a {
    transition: all 0.3s ease-in-out;
    font-size: clamp(1rem, 0.7vw + 0.5rem, 2rem);
    letter-spacing: 2px;
    font-weight: bold;
    background: #f8f8f8;
    padding: 1rem 1.25rem;
    color: #141516;
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
}

.view_project a:hover {
    background: #141516;
    color: #f8f8f8;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.progress_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #141516;
    transform-origin: 0%;
}

@media only screen and (max-width: 1024px) {
    .post_cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    .post_cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 695px) {
    .work {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .work_info {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3vw;
    }
}
