.background_image {
    /*background-image: url("/workedwith.svg");*/
    background-repeat: no-repeat;
    background-size: 90vw;
    background-position: 50% 2%;
}
.worked_for {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 4vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 2vw;
}

.header_name {
    display: flex;
    flex-direction: column;
}

.header_name h1 {
    font-size: clamp(3rem, 5vw + 0.9rem, 6rem);
    font-weight: 600;
}

.header_para {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 40%;
    margin-bottom: 24px;
}

.header_para p {
    font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
    font-weight: 500;
    padding-bottom: 24px;
    color: #747474;
}

.work_cards {
    display: flex;
    flex-direction: column;
}

/*.card_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}*/

.hover_container {
    position: relative;
    display: block;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
}

.card_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.8);
    display: block;
    border-radius: 1.5rem;
}

.logo_card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    background-color: rgb(251, 251, 251);
    border: 1px solid transparent;
}

.logo_card:hover {
    border-color: #4a90e2;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .header_para {
        margin-top: 3vw;
        margin-bottom: 3vw;
        width: auto;
    }
}

/*@media only screen and (max-width: 1000px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 650px) {
    .card_container {
        grid-template-columns: repeat(1, 1fr);
    }
}*/
