.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    border-radius: 24px;
    text-decoration: none;
    padding-bottom: 10px;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1.5vw;
}

.project_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: clamp(1rem, 2vw + 0.9rem, 3em);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.title h2 {
    font-weight: 600;
    font-size: clamp(1.8em, 0.6vw + 0.5em, 3em);
}

.content h3 {
    color: #848484;
    font-weight: 400;
    font-size: clamp(1.2em, 0.2vw + 0.5em, 2em);
}

.project_period p {
    font-weight: 400;
    font-size: clamp(1.2em, 0.5vw + 0.5em, 2em);
    text-align: right;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30vw;
    width: 80vw;
    margin-bottom: clamp(0.5rem, 1vw + 0.5rem, 2em);
}

.imageWrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

@media only screen and (max-width: 675px) {
    .project_header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5vw;
    }

    .project_period p {
        text-align: left;
    }

    .header {
        gap: 3vw;
    }
}

@media only screen and (max-width: 500px) {
    .imageWrapper {
        height: 40vw;
        width: 75vw;
    }
}
