.contact_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='gggrain-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='2' seed='2' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='colormatrix'%3E%3C/feColorMatrix%3E%3CfeComponentTransfer x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' result='componentTransfer'%3E%3CfeFuncR type='linear' slope='3'%3E%3C/feFuncR%3E%3CfeFuncG type='linear' slope='3'%3E%3C/feFuncG%3E%3CfeFuncB type='linear' slope='3'%3E%3C/feFuncB%3E%3C/feComponentTransfer%3E%3CfeColorMatrix x='0%25' y='0%25' width='100%25' height='100%25' in='componentTransfer' result='colormatrix2' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -10'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cfilter id='gggrain-saturate' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='saturate' values='3' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23gggrain-saturate)'%3E%3Crect width='100%25' height='100%25' fill='transparent' filter='url(%23gggrain-filter)' opacity='0.1' style='mix-blend-mode: soft-light'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");*/
    background-color: #373737;
    border-radius: 25px;
}

.field_container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.inputs {
    /*border: 1px solid #d2d2d7;*/
    border-radius: 12px;
    padding: 0.75rem;
    display: flex;
    text-overflow: ellipsis;
}

.inputs:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 3px #66b1fc inset;
}

.name_email {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1vw;
    width: 100%;
    padding-top: 1rem;
}

.boxes {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.submit_button {
    width: 100%;
    padding: 1rem;
    color: #ffffff;
    margin-top: 1rem;
    border-radius: 12px;
    background: #232323;
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
    .name_email {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0vw;
    }
}
