.nav {
    background: #fff;
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 99;
    top: 0;
    left: 0;
}

.background {
    background: rgba(12, 12, 12, 0.5);
    backdrop-filter: blur(40px);
    mask-image: linear-gradient(
        rgb(0, 0, 0) 55%,
        rgba(0, 0, 0, 0.8) 80%,
        rgba(0, 0, 0, 0) 100%
    );
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px 0px;
    position: relative;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 8vw;
    width: 70px;
    height: 30px;
}

.brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin-right: 8vw;
}

.burger {
    width: 30px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.burger span {
    position: relative;
    top: 40%;
}

.burger span,
.burger span::before,
.burger span::after {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #2a2a2a;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
}

.burger span::before,
.burger span::after {
    position: relative;
    content: "";
}

.burger span::before {
    top: -9px;
}

.burger span::after {
    top: 9px;
}

.burgerActive span {
    background-color: transparent;
}

.burgerActive span::before {
    transform: translateY(10px) rotate(45deg);
}

.burgerActive span::after {
    transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (max-width: 600px) {
    .nav {
        padding: 10px;
    }

    .navbar {
        font-size: 15px;
    }
}
