.header {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    padding: 5px;
    z-index: 99;
    top: 0;
    left: 0;
}

.background {
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 5px 0px;
    position: relative;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.brand img {
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.label {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.label p:nth-of-type(2) {
    position: absolute;
}

.label p:nth-of-type(2) {
    opacity: 0;
}

.burger {
    width: 25px;
    position: relative;
    pointer-events: none;
}

.burger::after,
.burger::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: black;
    position: relative;
    display: block;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
}

.burger::after {
    top: -4px;
}

.burger::before {
    top: 4px;
}

.burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
}

.burgerActive::before {
    transform: rotate(-45deg);
    top: 1px;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 10px;
    }

    .navbar {
        font-size: 15px;
    }
}