.skills {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    flex-wrap: wrap;
    margin-top: 1.5vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

.skills_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: clamp(2rem, 3vw + 0.9rem, 4rem);
    background-image: url("../../public/tools.svg");
    background-color: #222222;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25px;
    flex: 2;
}

.skills_text_one {
    display: flex;
}

.skills_text_one p {
    color: #d2d2d2;
    font-size: clamp(2rem, 1vw + 0.5rem, 3rem);
    font-weight: 500;
}

.skills_text_two {
    display: flex;
}

.skills_text_two p {
    color: #ffffff;
    font-size: clamp(2rem, 3vw + 0.9rem, 4rem);
    font-weight: 600;
}

.skills_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 25px;
    background: #f8f8f8;
}

.logos_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    padding: clamp(1rem, 2vw + 0.9rem, 3rem);
}

.container {
    display: flex;
    position: relative;
    height: 55px;
    width: 55px;
}

.container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .skills_text {
        flex: 1;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 675px) {
    .logos_container {
        gap: 10vw;
    }
}
