.main {
    display: flex;
    margin-top: 1.5vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

.skills_grid {
    display: grid;
    gap: 1.5vw;
    width: 100%;
}

.skills_grid > * {
    border-radius: 25px;
    inline-size: container;
    grid-column: var(--gc, auto);
    grid-row: var(--gr, auto);
    padding: 2em;
}

.skills_grid > * h3 {
    color: #141414;
    font-size: clamp(1.5rem, 1vw + 0.5rem, 3rem);
    font-weight: 600;
}

.skills_grid > * p {
    font-size: clamp(1rem, 0.8vw + 0.3rem, 2rem);
    color: #404040;
}

.container {
    display: flex;
    position: relative;
    height: 55px;
    width: 55px;
}

.container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.title {
    background-color: #383838;
    font-size: 1.5em;
    text-align: center;
}

.title p {
    color: #ffffff;
    font-size: clamp(2rem, 3vw + 0.9rem, 4rem);
    font-weight: 600;
}

/* Items */

.design_prototyping {
    display: flex;
    flex-direction: column;
    background-color: #f8f8ff;
    gap: 0.5em;
}

.design_skills {
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    gap: 0.5em;
}

.user_research {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    gap: 0.5em;
}

.frontend {
    display: flex;
    flex-direction: column;
    background-color: #fffff0;
    gap: 0.5em;
}

@media (min-width: 800px) {
    .user_research {
        --gc: span 2;
        --gr: span 2;
    }

    .skills_grid {
        grid-template-columns: repeat(7, 1fr);
    }

    .design_skills {
        --gc: span 2;
        --gr: span 2;
    }

    .frontend {
        --gc: span 3;
    }

    .title {
        --gc: span 4;
    }

    .design_prototyping {
        --gc: span 3;
        --gr: span 2;
    }
}
