.gallery {
    height: 100vw;
    /*background-image: url("../../public/marble.webp");*/
    background: linear-gradient(to right, #ece9e6, #ffffff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery .column {
    position: relative;
    height: 100%;
    width: 25%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.gallery .column .imageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.gallery .column .imageContainer img {
    object-fit: cover;
    max-width: 100%;
}

.gallery .column:nth-of-type(1) {
    top: -70%;
}

.gallery .column:nth-of-type(2) {
    top: -100%;
}

.gallery .column:nth-of-type(3) {
    top: -45%;
}

.gallery .column:nth-of-type(4) {
    top: -75%;
}

@media only screen and (max-width: 900px) {
    .gallery .column {
        height: 85%;
        width: 85%;
    }
}

@media only screen and (max-width: 700px) {
    .gallery .column {
        height: 75%;
        width: 75%;
    }
}

@media only screen and (max-width: 550px) {
    .gallery .column {
        height: 70%;
        width: 70%;
    }
}

@media only screen and (max-width: 450px) {
    .gallery .column {
        height: 80%;
        width: 80%;
    }

    .gallery .column {
        height: 90%;
        width: 90%;
    }

    .gallery .column:nth-of-type(1) {
        top: -100%;
    }

    .gallery .column:nth-of-type(2) {
        top: -150%;
    }

    .gallery .column:nth-of-type(3) {
        top: -70%;
    }

    .gallery .column:nth-of-type(4) {
        top: -190%;
    }
}

@media only screen and (max-width: 400px) {
    .gallery .column {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
    .gallery {
        height: 90vw;
    }

    .gallery .column {
        height: 90%;
        width: 90%;
    }

    .gallery .column:nth-of-type(1) {
        top: -220%;
    }

    .gallery .column:nth-of-type(2) {
        top: -290%;
    }

    .gallery .column:nth-of-type(3) {
        top: -120%;
    }

    .gallery .column:nth-of-type(4) {
        top: -250%;
    }
}
