.gallery {
    height: 175vh;
    background: #2d2d2d;
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery .column {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.gallery .column .imageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
}

.gallery .column .imageContainer img {
    object-fit: cover;
    max-width: 100%;
}

.gallery .column:nth-of-type(1) {
    top: -45%;
}

.gallery .column:nth-of-type(2) {
    top: -95%;
}

.gallery .column:nth-of-type(3) {
    top: -45%;
}

.gallery .column:nth-of-type(4) {
    top: -75%;
}

.spacer {
    height: 100vh;
}