.nav {
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        margin-bottom: 0px;
    }
}
