.info {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    flex-wrap: wrap;
    margin-top: 1.5vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

.info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(2rem, 3vw + 0.9rem, 4rem);
    background: #f8f8f8;
    border-radius: 25px;
    flex: 2;
}

.info_text_one {
    display: flex;
}

.info_text_one p {
    color: #000000;
    font-size: clamp(2rem, 1vw + 0.5rem, 3rem);
    font-weight: 600;
}

.info_text_two {
    display: flex;
}

.info_text_two p {
    color: #737373;
    font-size: clamp(2rem, 1vw + 0.5rem, 3rem);
    font-weight: 600;
}

.resume {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #e799ff;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='gggrain-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.25' numOctaves='2' seed='2' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='colormatrix'%3E%3C/feColorMatrix%3E%3CfeComponentTransfer x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' result='componentTransfer'%3E%3CfeFuncR type='linear' slope='3'%3E%3C/feFuncR%3E%3CfeFuncG type='linear' slope='3'%3E%3C/feFuncG%3E%3CfeFuncB type='linear' slope='3'%3E%3C/feFuncB%3E%3C/feComponentTransfer%3E%3CfeColorMatrix x='0%25' y='0%25' width='100%25' height='100%25' in='componentTransfer' result='colormatrix2' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -10'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cfilter id='gggrain-saturate' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='saturate' values='3' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23gggrain-saturate)'%3E%3Crect width='100%25' height='100%25' fill='transparent' filter='url(%23gggrain-filter)' opacity='0.2' style='mix-blend-mode: soft-light'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E"),*/
    background-image: radial-gradient(
            at 21% 13%,
            hsla(222, 74%, 77%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 3% 95%, hsla(253, 76%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 69% 86%, hsla(179, 60%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 17% 44%, hsla(175, 95%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 1% 74%, hsla(151, 62%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 38% 23%, hsla(21, 69%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 41% 49%, hsla(274, 71%, 63%, 1) 0px, transparent 50%);
    border-radius: 25px;
    flex: 1;
}

.resume_text {
    display: flex;
    padding: clamp(2rem, 3vw + 0.9rem, 4rem);
    text-align: right;
}

.resume_text h3 {
    color: #ffffff;
    font-size: clamp(2rem, 1vw + 0.5rem, 3rem);
    font-weight: 600;
}

@media only screen and (max-width: 950px) {
    .info {
        flex-direction: column;
    }
    .info_text {
        flex: 1;
    }
}

@media only screen and (max-width: 420px) {
    .resume {
        align-items: center;
        justify-content: center;
    }
    .resume_text {
        text-align: center;
    }
}
