.footer {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.footer ul {
    width: 50%;
    margin-top: 10px;
    overflow: hidden;
    list-style-type: none;
}

.footer li span {
    color: #737373;
}

@media only screen and (max-width: 600px) {
    .footer {
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 10px;
        text-align: center;
    }
}
